<article>
    <header>
        <table>
            <tr>
                <td>Title:</td>
                <td>
                    <input type="text" id="input-title" placeholder="Type title here"/>
                </td>
            </tr>
            <tr>
                <td>Author:</td>
                <td>
                    <input type="text" id="input-author" placeholder="Tyoe author here"/>
                </td>
            </tr>
        </table>

    </header>
    <menu>
        <button id="article-save">Save</button>
        <button id="article-delete">Delete</button>
    </menu>
    <div class="article-text">
        <textarea id="input-text" class="input-text" placeholder="Type text of the article here"></textarea>
    </div>
</article>