<div class="home">
    <div class="home-title-message" id="home-title-message">To work with MongoDB choose any command in a menu above</div>
    <div class="home-info-message" id="home-info-message">{{message}}</div>
</div>
